@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff"),
    url("../fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-LightItalic.woff") format("woff"),
    url("../fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("../fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/*General*/
body {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  color: #2d2d2d;
  line-height: 1.5rem;
}
h1,
h2 {
  font-family: "Playfair Display";
  font-size: 2em;
  margin: 1.2em auto;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}
.text-container {
  max-width: 720px;
  margin: 3em auto;
}
.brand-color {
  color: #e2574c;
}
.white-text {
  color: white;
}
.grey-text {
  color: #969696;
}
.italic-title {
  font-style: italic;
  font-weight: 400;
}
.strong-title {
  font-weight: bold;
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  color: #b64036;
}
li {
  list-style: none;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.page-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul li {
  display: inline-block;
  margin: 0.5em 0.5em;
}
.nav-bar ul {
  padding-left: 0;
  text-transform: uppercase;
  margin: 1em auto;
}
.page-header div img {
  height: 50px;
  width: auto;
  margin: 1em auto;
}
.logo {
  flex: 0 1 20%;
}
.cart {
  flex: 0 1 20%;
  position: relative;
}
.nav-bar {
  flex: 0 1 60%;
}
/*The icon that gets added on top of the cart logo, once items are added to the cart*/
.cart-icon {
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(+150%, -150%);
  position: absolute;
  border: none;
  color: white;
  background-color: #e2574c;
}

/*Banner*/

.banner {
  margin-top: 90px;
  height: 600px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/banner-girl.png) center top 60px no-repeat,
    url(../images/flower-bkgd.jpg) center;
  background-size: auto 600px;
}
.banner h1 {
  text-transform: none;
  font-size: 2.5em;
}

/*Products*/

.products {
  display: flex;
  flex-wrap: wrap;
}
.catagory {
  box-sizing: border-box;
  border: 2px solid white;
  padding-top: 25%;
  position: relative;
}
.mens,
.womens {
  flex: 2 0 50%;
}
.glasses,
.trends,
.sale,
.bags {
  flex: 1 0 25%;
}
.catagory a {
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mens {
  background: url(../images/mens-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}
.glasses {
  background: url(../images/glasses-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}
.trends {
  background: url(../images/trends-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}
.sale {
  background: url(../images/sale-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}
.bags {
  background: url(../images/bags-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}
.womens {
  background: url(../images/womens-category.jpg) no-repeat 50%;
  background-size: cover, cover;
}

/*Featured*/
.items {
  line-height: 2em;
}
.items h3 {
  font-family: "Playfair Display";
  font-size: 1.3em;
}
.cart-button {
  border-radius: 20px;
  border: none;
  color: white;
  background-color: black;
  height: 2em;
  width: 7em;
}

/*Newsletter*/
.newsletter {
  height: 350px;
  background: url(../images/wave-bkgd.jpg) center bottom no-repeat;
  background-color: #d7d7d7;
  margin: 50px auto 10px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.sign-up-form input {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}
.sign-up-form {
  position: relative;
  width: 360px;
}
.sub-button {
  position: absolute;
  z-index: 1;
  height: 80%;
  width: 8em;
  right: 0.35em;
  top: 0.3em;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #e2574c;
}

/*Footer*/
.page-footer {
  background-color: #242424;
  padding: 2em 2em;
}
.page-footer .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
.fab {
  min-width: 25px;
  text-align: center;
}

/*Media Queries*/
/*Tablet-Sized*/
@media screen and (max-width: 1240px) {
  .banner {
    height: 400px;
    background-size: auto 400px;
  }
}
/*Mobile-Sized*/
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  container {
    padding-right: 1em;
    padding-left: 1em;
  }
  /*Header*/
  .page-header {
    flex-wrap: wrap;
  }
  .nav-bar {
    order: 1;
    border-top: 1px solid black;
    min-width: 100%;
  }
  /*Banner*/
  .banner {
    margin-top: 150px;
  }
  /*Products*/
  .mens,
  .womens {
    flex: 2 0 100%;
  }
  .glasses,
  .trends,
  .sale,
  .bags {
    flex: 1 0 50%;
  }
  .catagory {
    padding-top: 50%;
  }

  /*Footer*/
  .page-footer .container {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info {
    flex: 1 0 100%;
    margin-bottom: 2em;
  }
  .social-media-links {
    flex: 1 0 100%;
  }

  .social-media-links span {
    display: none;
  }
  .social-media-links ul li {
    display: inline-block;
    margin: 0.5em 0.5em;
  }
}
